<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}


<body>
    {% include 'navbar.html' %}
    <div class="contentBackgroundMargins">
        <div class="contentBackground">
            <div class="contentMargins">
                <div class="titleTextSmaller divcenter contentFlexRow">Events</div>

                <div class="contentFlexRow divcenter">
                <div class="col-lg-8">
                    <div class="contentMargins">
                        <div class="contentFlexRow align-items-center">
                            <label for="search">Search:</label>
                            <input type="text" class="form-control NavText" id="searchEventsBar" name="search" value="">
                            <button id="searchEventsButton" class="simpleButton" onclick="searchEventsButtonClick()">
                                    View
                                </button>
                        </div>
                    </div>

                    <div class="marginBetweenTextDivs">
                    {% include 'eventsPartial.html' %}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>