<div class="contentFlexCol">
    <div class="" id="allOrganisationResults">
        {% for organisation in organisations %}
            <div class="eventItems contentFlexRow align-items-center" id="{{ organisation.organisationName }}">
                <div class="col-lg-4">
                    {% if  organisation.organisationImage1 %}
                        <img class="reducedimage" src="{{ organisation.organisationImage1.url }}" alt="Image 1">
                    {% else %}
                        <div class="reducedImageEmpty textRed ">No Image</div>
                    {% endif %}
                </div>
                <div class="titleText col-lg-6">
                    {{ organisation.organisationName }}
                </div>
                <div class="col-lg-2">
                    <button id="userViewEventButton{{ organisation.organisationId }}" onclick="clickUserViewOrgButton('{{ organisation.organisationId|safe }}')"
                    class="simpleButton">
                    View
                </button>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>

<script>
    var userLoggedIn = "{{ userLoggedIn }}";
    console.log(userLoggedIn);
    
    function clickUserViewOrgButton(val){
        window.location.href = "/fypApp/organisation/" + val;
    }

    function searchOrgButtonClick() {
        var toSearch = document.getElementById("searchOrganisationBar").value.toLowerCase();
        var tableContent = document.getElementById("allOrganisationResults");
        console.log(toSearch);
        console.log(tableContent);

        for (var i = 0; i < tableContent.children.length; i++) {
            var child = tableContent.children[i];

            var childId = child.id ? child.id.toLowerCase() : "";

            if (childId && childId.indexOf(toSearch) === -1) {
                child.setAttribute('hidden', true);
            } else {
                child.removeAttribute('hidden');
            }
        }
    }
</script>